#Location Estimates of Population and Murder rate
Page-12,
Table-1.2

In [2]:
import pandas as pd

In [3]:
state=pd.read_csv('state.csv')

In [5]:
state

         State  Population  Murder Rate Abbriviation
0      Alabama     4779736          5.7           AL
1       Alaska      710231          5.6           AK
2      Arizona     6392017          4.7           AZ
3     Arkansas     2915918          5.6           AR
4   California    37253956          4.4           CA
5     Colorado     5029196          2.8           CO
6  Connecticut     3574097          2.4           CT
7     Delaware      897934          5.8           DE

In [13]:
state[['Population']].mean()

Population    7694135.625
dtype: float64

In [12]:
state['Population'].mean()

7694135.625

In [19]:
import numpy as np
from scipy import stats

In [20]:
stats.trim_mean(state['Population'],0.2)

3931483.0

In [21]:
state['Population'].median()

4176916.5

In [22]:
state[['Population']].median()

Population    4176916.5
dtype: float64

In [28]:
np.average(state['Murder Rate'],weights=state['Population'])

4.376359279149048

In [32]:
!pip install wquantiles
import wquantiles

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wquantiles
  Downloading wquantiles-0.6-py3-none-any.whl (3.3 kB)
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.8/dist-packages (from wquantiles) (1.21.6)
Installing collected packages: wquantiles
Successfully installed wquantiles-0.6

In [33]:
wquantiles.median(state['Murder Rate'],weights=state['Population'])

4.448750497554494